body{
    background-color: #668cff;
}


h1{
	font-family: Arial;
	color: white;
	text-align: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
	border-style: solid;
	border-color: white;
	border-radius: 25px;}

li {
    display: inline-block;
    width: 45%;
}

li:hover{
	background-color: white;
}

a:hover{
	color: black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 0px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    font-size: 17px;
}

.column1, .column2, .column3{
    width: 437px;
    float: left;
    margin: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
    font-size: 20px;
}





