img.center{
	display: block;
	margin: 0 auto;
}

#wrapper{
	width: 500px;
	margin: 0 auto;
}

.page1{
	background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/93AY0FPGUS.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1{
	font-family: Century Gothic, sans-serif;
	text-align: center;
}

ul{
	list-style-type: none;
}

/*li#id{
	display: inline-block;
	margin: 290px;
	font-family: Century Gothic, sans-serif;
	border-style: outset;
	padding: 10px;
	border-color: white;
	font-size: 20px;
	color: white;
}*/

#about{
	border-style: 
}


.p2{
	display: inline;
	margin: 290px;
	font-family: Century Gothic, sans-serif;
	border-style: outset;
	padding: 10px;
	border-top-color: black;
	font-size: 17px;
}



.page2{
	background-image: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/UV542Y42CW.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

li.p2:hover{
	background-color: #a6a6a6;
}

nav{
	text-align: center;
	display: block;
	word-spacing: 590px;
	padding: 10px;
	font-family: Century Gothic, sans-serif;
	color: white;
	font-size: 20px;
}

nav:hover{
	font-size: 25px;
}

footer{
	font-family: Century Gothic, sans-serif;
	text-align: center;
	color: white;
	margin-top: 37%;
}

.page3{
	background-image: url(http://img03.deviantart.net/591b/i/2013/348/b/5/blurred_maple_custombox_background_by_lablayers-d6xzhi5.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.p3{
	text-align: left;
}

p{
	font-family: Century Gothic, sans-serif;
}

a {
	font-family: Century Gothic, sans-serif;
	position: absolute;
	width: 100%;
	margin-top: 15%;
	color: white;
	display: inline-block;
}





