body {
    background-image: url(http://i.stack.imgur.com/baM8y.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
}

.nav {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 3px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    text-align: center;
    display: inline-block;
}

li a {
    display: inline-block;
    color: #666;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}